---
layout: default
---
<!-- ## SPEAKERS SECTION ## -->
<section class="speakers" id="speakers">
  <div class="qcContainer qcTabTitle clearfix">
    <div class="row middle-sm">
      <div class="col-xs-12 col-sm-6">
        <h2 class="section-title">Speakers</h2>
      </div>
    </div>
  </div>
  <div class="qcContainer hentry">
    <div class="speaker-grid">
      <ul class="gridder clearfix">

        {% for speaker in site.data.speakers %}
          <li id="{{speaker.key}}" class="gridder-list" data-griddercontent="#{{speaker.key}}-content">
            <img src="./assets/img/speakers/{{speaker.headshot_filename}}" alt="{{speaker.name}} headshot" nopin="nopin">
            <div class="name-title">
              <h4>{{speaker.name}}</h4>
              <h5>{{speaker.job_title}}, {{speaker.company}}</h5>
            </div>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>

  <!-- Bio content for inside the gridder -->
  {% for speaker in site.data.speakers %}

    <div id="{{speaker.key}}-content" class="gridder-content">
      <div class="row between-lg middle-sm">
        <div class="col-xs-12 col-sm-3">
          <h4>{{speaker.name}}
            <small>({{speaker.pronouns}})</small>
          </h4>
          <h5>{{speaker.job_title}}, {{speaker.company}}</h5>
          <ul class="spkr-social clearfix">
            <li><a href="https://twitter.com/{{speaker.twitter}}" target="_blank" rel="noopener" class="tips" title="TWITTER"><i class="icon-twitter icon"></i></a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-9 col-lg-8">
          <p>{{speaker.bio}}</p>
        </div>
      </div>
    </div>
  {% endfor %}

</section>

