<!-- ## SPONSOR SECTION ## -->

  <section class="sponsors-section qcContainer" id="sponsors">
    <div class="qcTabTitle clearfix">
      <div>
        <div class="col-4 col">
          <h2 class="section-title">Sponsors</h2>
        </div>
        <div class="col-8 col">
          <p class="qcTabDesc">
          Sponsorship is the most effective way to recruit experienced and talented women and non-binary people to fill key technical positions at your company. Demonstrate your commitment to the professional development your women and non-binary employees - sponsor Write/Speak/Code.
          </p>
          <br /><br />
          <a href="../assets/WSC-SponsorshipProspectus-2018.pdf" target="_blank" rel="noopener" class="button primary">Read our 2018 Prospectus</a></p>
        </div>
      </div>
    </div>
     <div class="row all-sponsors">
      <div class="col-xs-12">
        <div class="row sponsor-level">
          <div class="col-4 col level-title">
            <h3>Platinum</h3>
            <a href="https://github.com" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/github-logo.png" alt="Conference sponsor Github logo"/></a>
          </div>

          <div class="col-8 col" id="platinum-description">
            <p class="qcTabDesc">GitHub is how people build software. Millions of individuals and organizations around the world use GitHub to discover, share, and collaborate on software—from games and experiments to popular frameworks and leading applications. Together, we're defining how software is built today.</p>

            <p class="qcTabDesc">Whether you use GitHub.com or GitHub Enterprise on your own servers, you can access one of the world's largest developer communities to build software in the way that works best for you. Choose your deployment option and integrate your favorite third party tools into a powerful, collaborative workflow.</p>
            </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="row sponsor-level">
          <div class="col-4 col level-title">
            <h3>Gold</h3>
            <a href="https://www.nytimes.com" target="_blank" rel="noopener"><img class="sponsor-logo nyt-logo" src="assets/img/logos/nytimes-logo.jpg" alt="Conference sponsor NY Times logo"/></a>
          </div>
          <div class="col-8 col" id="platinum-description">
            <p class="qcTabDesc">The New York Times Company is a global media organization dedicated to enhancing society by creating, collecting and distributing high-quality news and information. The Company includes The New York Times, NYTimes.com and related properties. It is known globally for excellence in its journalism, and innovation in its print and digital storytelling and its business model. Follow news about the company at @NYTimesPR.</p>
          </div>

          <div class="col-4 col level-title">
            <a href="https://developer.microsoft.com/en-us/advocates/index.html" target="_blank" rel="noopener"><img class="sponsor-logo azure-gold-logo" src="assets/img/logos/microsoft-azure-logo.svg" alt="Conference sponsor Microsoft Azure Advocaates logo"/></a>
          </div>
          <div class="col-8 col" id="platinum-description">
            <p class="qcTabDesc">Microsoft Azure Advocates write, speak, and dream in code. Our global team is maniacal about making the world amazing for developers of all backgrounds. Connect with us, write code with us - let's meet up and talk cloud and all things developer!</p>
          </div>
        </div>
      </div>

<!--       <div class="col-xs-12">
        <div class="row sponsor-level">
          <h3 class="col-xs-12 level-title">Silver Sponsors</h3>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="http://cdk-global.com" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/cdk-logo.png" alt="Conference sponsor CDK Global logo"/></a>
              <p>CDK Global is the largest global provider of integrated information technology and digital marketing solutions to the automotive retail industry.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="http://kcura.com" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/kCura-logo.jpg" alt="Conference sponsor Kcura logo"/></a>
              <p>kCura: kCura develops e-discovery software Relativity for managing large volumes of electronic evidence during litigation or investigations.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="https://mailchimp.com/" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/mailchimp-logo.png" alt="Conference sponsor Mailchimp logo"/></a>
              <p>Mailchimp: More than 10 million businesses around the world use MailChimp for marketing automation and email newsletters.</p>
            </div>
        </div>
      </div> -->
      <div class="col-xs-12">
        <div class="row middle-xs sponsor-level">
          <h3 class="col-xs-12 level-title">Bronze</h3>
          <div class="col-xs-6 col-sm-3">
            <a href="http://xogroupinc.com/" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/xogroup-logo.png" alt="Conference sponsor XO logo"/></a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="http://allenai.org" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/allen-institute-for-artificial-intelligence-logo.png" alt="Conference sponsor Allen Institute for Artificial Intelligence logo"/></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="row middle-xs sponsor-level">
          <h3 class="col-xs-12 level-title">Workshops</h3>
          <div class="col-xs-6 col-sm-3">
            <a href="https://www.carbonfive.com" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/carbon-5-logo.png" style="width:180px;" alt="Conference childcare sponsor Carbon Five logo"/></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row middle-xs sponsor-level">
          <h3 class="col-xs-12 level-title">Accessibility</h3>
          <div class="col-xs">
            <a href="https://developer.microsoft.com/en-us/advocates/index.html" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/microsoft-azure-logo.svg" alt="Conference sponsor Microsoft Azure Advocates logo"/></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row middle-xs sponsor-level supporters">
          <h3 class="col-xs-12 level-title">Childcare</h3>
          <div class="col-xs">
            <a href="https://developer.microsoft.com/en-us/advocates/index.html" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/microsoft-azure-logo.svg" alt="Conference sponsor Microsoft Azure Advocates logo"/></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row middle-xs sponsor-level">
          <h3 class="col-xs-12 level-title">Headshots</h3>
          <div class="col-xs">
            <a href="https://movableink.com" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/movable-ink-logo.png" alt="Conference headshot sponsor Movable Ink logo"/></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row middle-xs sponsor-level supporters">
          <h3 class="col-xs-12 level-title">Own Your Expertise</h3>
          <div class="col-xs">
            <a href="https://www.generalui.com" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/gui-logo.png" alt="Own Your Expertise sponsor General UI logo"/></a>
          </div>
          <div class="col-xs">
            <a href="https://www.devmynd.com/" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/devmynd-logo.png" alt="Own Your Expertise sponsor DevMynd logo"/></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row middle-xs sponsor-level">
          <h3 class="col-xs-12 level-title">Chapters</h3>
          <div class="col-xs">
            <a href="https://www.vts.com/" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/vts-logo.png" alt="Meetup chapter sponsor VTS logo"/></a>
          </div>
          <div class="col-xs">
            <a href="https://movableink.com" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/movable-ink-logo.png" alt="Meetup chapter sponsor Movable Ink logo"/></a>
          </div>
        </div>
      </div>
    </div>
  </section>

